%header.green.big-padding
	.col-md-10.no-float.center-block
		.col-md-6.no-padding.inline-block
			=image_tag "tiendus.png",width:"100"
			%h1.white-text.ultra-big.kostic
				%strong Ofrece tus productos digitales a tu audiencia
		.col-md-5.no-padding.inline-block
			=image_tag "mono.png"
.grey.white-text.big-padding.kostic
	.col-md-10.no-float.center-block
		.absolute{style:"bottom:-4.5em;width:100%;left:0px"}	
			.text-center.big
				.col-md-3.inline-block
					.white.grey-text.circle
						%strong 1
				.col-md-3.inline-block
					.white.grey-text.circle
						%strong 2
				.col-md-3.inline-block
					.white.grey-text.circle
						%strong 3
		%h2.bigger.kostic.text-center
			Tiendus en tres pasos
		%div.text-center.top-space
			.col-md-3.inline-block.text-left
				=image_tag "upload-icon.png", class:"col-md-10 inline-block"
				.top-space
					%strong.medium Sube tus archivos a Tiendus
					%p.white-text.text-justify.small !libro digital, cancion, comic, curso o lo que se te ocurra!
			.col-md-3.inline-block.text-left
				=image_tag "youtube-icon.png", class:"col-md-10 inline-block"
				.top-space
					%strong.medium Sube tus archivos a Tiendus
					%p.white-text.text-justify.small !libro digital, cancion, comic, curso o lo que se te ocurra!
			.col-md-3.inline-block.text-left
				=image_tag "money-icon.png", class:"col-md-10 inline-block"
				.top-space
					%strong.medium Sube tus archivos a Tiendus
					%p.white-text.text-justify.small !libro digital, cancion, comic, curso o lo que se te ocurra!
.red.white-text.big-padding.kostic{style:"margin-top:5em;"}
	.div.col-md-8.no-float.text-center.center-block
		=image_tag "media-icons.png"
		%p.medium.col-md-11.center-block.no-float.top-space
			%strong Vende tus libros elctrónicos, plantillas y todo lo que se te ocurra
.top-space.big-padding
	.col-md-11.col-xs-12.center-block.no-float
		=form_tag("create_email_path",method: :post) do 
			=email_field_tag "email",nil,class:"col-xs-12 inline-block text-center landing-form",placeholder:"Escribe aquí tu email"